@charset "utf-8";
.navbar.navbar-default {
	color: rgba(0,20,251,1.00);
}

@media screen{
body h1 {
	color: rgba(247,0,4,1.00);
	font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", "Arial Black", sans-serif;
	text-align: center;
	background-image: -webkit-linear-gradient(270deg,rgba(255,255,255,1.00) 0%,rgba(224,255,0,1.00) 100%);
	background-image: -moz-linear-gradient(270deg,rgba(255,255,255,1.00) 0%,rgba(224,255,0,1.00) 100%);
	background-image: -o-linear-gradient(270deg,rgba(255,255,255,1.00) 0%,rgba(224,255,0,1.00) 100%);
	background-image: linear-gradient(180deg,rgba(255,255,255,1.00) 0%,rgba(224,255,0,1.00) 100%);
}
.navbar.navbar-default .container-fluid #defaultNavbar1 {
	color: rgba(2,11,172,1.00);
}
body p {
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
	color: rgba(255,0,4,1.00);
}
body {
	color: rgba(255,0,4,1.00);
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	background-image: -webkit-linear-gradient(270deg,rgba(255,255,255,1.00) 0%,rgba(255,214,0,1.00) 100%);
	background-image: -moz-linear-gradient(270deg,rgba(255,255,255,1.00) 0%,rgba(255,214,0,1.00) 100%);
	background-image: -o-linear-gradient(270deg,rgba(255,255,255,1.00) 0%,rgba(255,214,0,1.00) 100%);
	background-image: linear-gradient(180deg,rgba(255,255,255,1.00) 0%,rgba(255,214,0,1.00) 100%);
}
.carousel-inner .item .center-block {
	background-color: rgba(255,253,0,1.00);
}
#carousel1 .right.carousel-control {
}






}
